.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 4em;
  width: 100%;
}

.nav-contents {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: space-around;
  margin-top: 10px;
  top: 0;
  width: 100%;
}

.collapsed {
  animation: slide-out 1s ease-in-out;
  animation-fill-mode: forwards;
}

.expanded {
  align-items: center;
  animation: slide-in 1.5s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.nav-img {
  height: 30px;
}

.hamburger {
  align-items: flex-end;
  background-color: transparent;
  border: none;
  display: flex;
}

@media (min-width: 700px) {
  .nav-img {
    display: none;
  }
}

@media (max-width: 699px) {
  .nav-text {
    display: none;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-125%);
  }
}
