@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  --verdigris: #05a8aa;
  --lavender-blush: #f0e2e7;
  --space-cadet: #3b3b58;
  --flame: #dc602e;
  --persian-red: #bc412b;
  font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

body,
html {
  min-height: 100%;
  width: 100%;
}
